<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SnapSave</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="images/apple-touch-icon.ico">
    <!-- <style>
      img{
        width: auto;
        height: 500px;
      }
    </style> -->

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" style="font-size:2rem"><span style="color:#EE4C7C">Snap</span> <span style="color:#3500D3"> Save[SS]</span></a>

    <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
  </ul>
  </nav>
  </head>
  <body class ="main-body">
     <div class="container">
