<%- include("header"); -%>

<h1 class="homeText">Grow With Thinks</h1>
<p class="homePara">Introducing an Web Application called SnapSave</p><br>
<img class="homeImg" src="images/snapSaveDashboardImg.png" alt="">

<%- include("footer"); -%>
